body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.center{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;


}

.addTeamFormContainer {
  margin: 30px;
  padding: 20px;
}

.chakra-form-control {
  margin-bottom: 12px;
}

.headerLogo {
  width: 900px;
  max-width: 900px;
  margin-bottom: -50px;
  
}

.addTeamContainer, .teamListContainer, .searchFormContainer, .mapContainer {
  margin: 20px 10px;
  padding: 20px;
  border: solid;
}

.teamListTeamContainer {
  margin: 10px 0px;
  padding: 20px;
  border: solid 1px;
  border-radius: 12px;
}

#map {
  margin-top: 40px;
  height: 400px;
}

.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.chat-sidebar {
  height: 100%;
  background-color: #f9f5eb;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fdfdfd;
}

.chat-main {
  height: 100%;
  flex: 0.8;
}

.chat-header {
  margin: 30px 0 20px 0;
}

.chat-users > * {
  margin-bottom: 10px;
  color: #607eaa;
  font-size: 14px;
}

.online-users > * {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
}

.chat-mainHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f5eb;
}

.leaveChat-btn {
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  background-color: #d1512d;
  cursor: pointer;
  color: #eae3d2;
}

.message-container {
  width: 100%;
  height: 80vh;
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
}

.message-container > * {
  margin-bottom: 10px;
}

.chat-footer {
  padding: 10px;
  background-color: #f9f5eb;
  height: 10vh;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  padding: 15px;
}

.sendBtn {
  width: 150px;
  background-color: green;
  padding: 10px;
  border: none;
  outline: none;
  color: #eae3d2;
  cursor: pointer;
}

.sendBtn:hover {
  background-color: rgb(129, 201, 129);
}

.message-recipient {
  background-color: #f5ccc2;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

.message-sender {
  background-color: rgb(194, 243, 194);
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  font-size: 15px;
}

.message-chats > p {
  font-size: 13px;
}

.sender-name {
  text-align: right;
}

.message-status {
  position: fixed;
  bottom: 50px;
  font-size: 13px;
  font-style: italic;
}

option {
  color: black;
}

.mapInfoWindow li {
  color: black;
  padding: 4px;
}

.joinTeamButton, .leaveTeamButton {
  float: right;
}

.editProfileButton, .bioSection{
  margin: 30px 0;
}

.bioSection {
  padding: 20px;
}

.cancelProfileChanges {
  color: darkslategray;
  margin-left: 20px;
}

.navbar a {
  color: #ceb92c;
}